[submodule "chronos-frontend"]
	path = chronos-frontend
	url = https://github.com/CtrI-Alt-Del/chronos-frontend.git
  branch = main
[submodule "chronos-backend"]
	path = chronos-backend
	url = https://github.com/CtrI-Alt-Del/chronos-backend.git
  branch = main
