[submodule "chronos-frontend"]
    path = chronos-frontend
    url = https://github.com/CtrI-Alt-Del/chronos-frontend.git
    branch = main

[submodule "chronos-backend"]
    path = chronos-backend
    url = https://github.com/CtrI-Alt-Del/chronos-backend.git
    branch = main
[submodule "chronos-documentation"]
	path = chronos-documentation
	url = https://github.com/CtrI-Alt-Del/chronos-documentation.git
